/* 자손 선택자 */
div p {
<<<<<<< HEAD
    color:blue ;
=======
    color: blue;
>>>>>>> d0038e79a2225b72b8b91e38b0d5120efc055a6c
}
/* 자식 선택자 */
div > p {
    background-color: lightblue;
}
/* 인접 형제 선택자 */
h1 + p {
<<<<<<< HEAD
    font-weight:bold;
=======
    font-weight: bold;
>>>>>>> d0038e79a2225b72b8b91e38b0d5120efc055a6c
}
/* 일반 형제 선택자 */
h1 ~ p {
    border-left: 4px solid gray;
}